.container {
  margin-top: 24px;

  .title {
    background: #4D4D4D80;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 14px 30px;
    color: white;
    font-weight: 700;
  }

  .additional-data {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 24px 30px 64px;
    border: 1px solid #4D4D4D;
    border-top: none;
  }
}
